.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #e1e1e1;
}
.alert {
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 95%;
  padding: 15px;
  background-color: #f3a6a6;
  border-radius: 5px;
  border: 1px solid red;
  color: black;
  margin: 10px auto;
}
.loader {
  display: flex;
  justify-content: center;
}
h1 {
  margin-top: 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
}
form {
  min-width: 350px;
  padding: 0 25px 25px 25px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 30px 0;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.49);
}
.form-col {
  display: flex;
}
label {
  display: flex;
  width: 100%;
  margin-top: 15px;
  font-size: 0.9em;
}
label i {
  padding-right: 5px;
}
.inptField {
  font-size: 0.9em;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.inptField:focus {
  outline-color: #6bac0b;
}
.btn {
  margin: 25px auto 15px auto;
  padding: 5px 10px;
  color: white;
  background-color: #2a689b;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}
.btn:disabled {
  opacity: 0.5;
}
