.container {
  min-height: calc(100vh - (45px + 30px));
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
}
.alert {
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 15px;
  background-color: #f3a6a6;
  border-radius: 5px;
  border: 1px solid red;
  color: black;
  margin: 10px auto 0 auto;
}
.tabWrap {
  margin: auto;
  margin-top: 10px;
  max-width: 95%;
  height: 100%;
  overflow: auto;
  position: relative;
  border: 1px solid black;
}
table {
  position: relative;
  border-collapse: collapse;
}
td,
th {
  padding: 5px;
  color: #b6b6b6;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  text-align: center;
  font-size: 15px;
}
thead th {
  margin: auto;
  min-width: 65px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #1a1a1a;
  color: #fff;
}
thead th:first-child {
  left: 0;
  z-index: 1;
  background: black;
}
tbody td:first-of-type {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  color: white;
  background: #1a1a1a;
  border-right: 1px solid #000;
}
tbody tr:nth-of-type(odd) {
  background-color: #383838;
}
tbody tr:hover {
  background-color: #000;
}
