<div class="container">

  <!-- [message]="matchData" -->
  <!-- *ngIf="matchData.team1" -->
  <!-- <app-confirm></app-confirm> -->

  <form class="form1" *ngIf="isAdmin" (ngSubmit)="onAddingNewMatch(f)" #f="ngForm">
  <div class="row">
      <div class="form-col col1">
          <label for="startTime">  Match start time </label>
          <input class="inptField" ngModel type="datetime-local" name='startTime' id='startTime' required>
        </div>

        <div class="form-col col2">
          <label for="team1">  Team 1 name </label>
          <input class="inptField" ngModel type="text" name="team1" id="team1" placeholder="team1" required>
        </div>

        <div class="form-col col3">
          <label for="team2">  Team 2 name </label>
          <input class="inptField" ngModel type="text" name="team2" id="team2" placeholder="team2" required >
        </div>

  </div>
  <div class="row">
    <button class="btn1" type="submit" [disabled]="!f.valid"> Add new Match</button>
  </div>
  </form>

  <div class="alert" *ngIf="messages.alert">{{messages.alert}}</div>
  <div class="success" *ngIf="messages.success">{{messages.success}}</div>

  <table class="tab" *ngIf="schedule && !isAdmin">
    <thead>
      <tr>
        <th *ngFor="let head of headElements1" >{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let el of schedule |paginate: {itemsPerPage: 10, currentPage: p }">
        <td class="id">{{el.ind}}</td>
        <td class="status">          <i [ngClass]="{
          'fas fa-futbol' : true,
          'red' : true,
          'green': el.old ==='didNotStart',
          'orange': el.old ==='currentlyPlaying'
        }"></i></td>
        <td class="time">{{el.startTime}}</td>
        <td class="team">{{el.team1}}</td>
        <td class="result">
          {{el.result1}} : {{el.result2}}</td>
        <td class="team">{{el.team2}}</td>
        <td class="time">{{el.endTime}}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="schedule && isAdmin">
    <thead>
      <tr>
        <th *ngFor="let head of headElements2" >{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let el of schedule |paginate: {itemsPerPage: 10, currentPage: p } ">
        <td class="id">{{el.ind}}</td>
        <td class="time">{{el.startTime}}</td>
        <td class="team">{{el.team1}}</td>

            <td *ngIf="el.old === 'ended' " class="results">
              <form class="form2" (ngSubmit)="onUpdateResult(f)" #f="ngForm">
                <input ngModel="{{el.result1}}" type="text" required name="result1" id="result1" maxlength="2" minlength="1">

                <button *ngIf="el.result1 == '-'" class="btn2" type="submit" [disabled]="!f.valid" >Update</button>

                <button *ngIf="el.result1 !== '-'" class="btn2 re" type="submit" [disabled]="!f.valid" >reUpdate</button>

                <input type="hidden" ngModel="{{el.ind}}" name="index" id="index" />
                <input ngModel="{{el.result2}}" type="text" name="result2" id="result2" required maxlength="2" minlength="1">
              </form>
            </td>

            <td *ngIf="el.old === 'didNotStart'" class="results">
              <form class="form2" (ngSubmit)="onDeleteMatch(f)" #f="ngForm">
                <input type="hidden" ngModel="{{el.ind}}" name="index" id="index" />
                <button class="btn2 del" type="submit">Delete match</button>
              </form>
            </td>
            <td *ngIf="el.old === 'currentlyPlaying'" class="results">
              <form class="form2">
                <input type="hidden" ngModel="{{el.ind}}" name="index" id="index" />
                <button class="btn2 start" [disabled]=true> <i class="fas fa-futbol"></i>... the game is on </button>
              </form>
            </td>
        <td class="team">{{el.team2}}</td>
        <td class="time">{{el.endTime}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf="schedule && schedule.length > 10" class="pagination" (pageChange)="p = $event"></pagination-controls>


</div>
