<div class="container">
  <div class="info alert" *ngIf="mainErr"> {{mainErr}}</div>
  <div class="alert" *ngIf="messages.alert">{{messages.alert}}</div>
  <div class="success" *ngIf="messages.success">{{messages.success}}</div>

  <table *ngIf="schedule">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" >{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let el of schedule |paginate: {itemsPerPage: 10, currentPage: p }">
        <td class="id">{{el.ind}}</td>
        <td class="status">
          <i [ngClass]="{
            'fas fa-futbol' : true,
            'red' : true,
            'green': el.old ==='didNotStart',
            'orange': el.old ==='currentlyPlaying'
          }"></i>
        </td>
        <td class="time">{{el.startTime}}</td>
        <td class="team">{{el.team1}}</td>

            <td class="bet">
              <form (ngSubmit)="onBetting(f)" #f="ngForm">
                <div *ngIf="el.old !== 'didNotStart'" class="res1">{{el.result1}}</div>
                <input *ngIf="el.old === 'didNotStart'" ngModel="{{el.result1}}" type="text" required name="result1" id="result1" maxlength="2" minlength="1">

                <button class="btn" type="submit" *ngIf="el.old === 'didNotStart'" [disabled]="!f.valid" >Bet</button>
                <div class="separator" *ngIf="el.old !== 'didNotStart'">:</div>
                <input type="hidden" ngModel="{{el.ind}}" name="index" id="index" />

                <div *ngIf="el.old !== 'didNotStart'" class="res1">{{el.result2}}</div>
                <input *ngIf="el.old === 'didNotStart'" ngModel="{{el.result2}}" type="text" name="result2" id="result2" required maxlength="2" minlength="1">
              </form>
            </td>

        <td class="team">{{el.team2}}</td>
        <td class="time">{{el.endTime}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf="schedule && schedule.length >10" class="pagination" (pageChange)="p = $event"></pagination-controls>


</div>
